<h2>Table_of_Contents</h2>

- [R basic grammar](#R_basic_grammar)
    - [Variable](#Variable)
        - [Writing comments](#Writing_comments)
        - [Variable assignment](#Variable_assignment)
        - [Rules for naming variables](#Rules_for_naming_variables)
        - [Variable assignment](#Variable_assignment)
    - [Data type](#Data_type)
        - [Numeric data](#Numeric_data)
        - [Character data](#Character_data)
        - [Logical data](#Logical_data)
        - [Factor data](#Factor_data)
        - [Factor and label](#Factor_and_label)
    - [Operator](#Operator)
        - [Arithmetic operator](#Arithmetic_operator)
        - [Basic calculator](#Basic_calculator)
- [References](#References)

<h2>R_basic_grammar</h2>

<h3>Variable</h3>
Syntax, Indentation

<h4>Writing_comments</h4>

1. One line comment

In [ ]:
# In RStudio, Simply press the shortcut Ctrl + Shift + c to comment.
# <-  The comment in R is the hash symbol

2. Multiline comment

In [ ]:
Comment1 = "
    Create a variable that you don't want to use 
    and put a comment there.
    It doesn't matter if that variable isn't used
    in the actual process.
"

[Back to the top](#Table_of_Contents)

<h4>Variable_assignment</h4>

In [ ]:
# there are two ways to assign the variable
variableName <- 0 # assign the value using <-
variableName<-4 # hard to read
4->variableName # old fashioned, hard to read

In [ ]:
variableName = 1 # assign the value using = 
variableName

In [ ]:
assign("a", 5)
a

In [ ]:
# c: Combine Values into a Vector or List
var1 <- c(1,2,5,7,8)
print(var1)

var2 <- c(1:5)
print(var2)

In [ ]:
# seq: Sequence Generation
# Create var3 with continuous values from 1 to 5
var3 <- seq(1,5)
print(var3)
# Create var4 with 2 consecutive values from 1 to 10
var4 <- seq(1, 10, by = 2)
print(var4)
# Generate var5 with 3 consecutive values from 1 to 10
var5 <- seq(1, 10, by = 3)
print(var5)

In [ ]:
# Creating sequences
# I’ve been using, for example, code like c(1:9) to create sequences, but there are other options.
# sequence from 1 to 9
seq(1, 9)
# sequence from 1 to 9 in increments of 2
seq(1, 9, 2)
# sequence that count from 1 to 9 in increments such that the vector has a length of 11
seq(1, 9, length.out = 11)

[Back to the top](#Table_of_Contents)

<h4>Rules_for_naming_variables</h4>

In [ ]:
Rules_for_naming_variables = "
    * exclude #
    * 첫 문자를 영문자로 시작해서 영문 대문자(A~Z)와 소문자(a~z),
      숫자(0~9), 밑줄(_)을 사용하여 작성
    * 특수기호(!, @, # ...)는 사용할 수 없음
    * 미리 정해진 예약어(var, if, for ...)는 사용할 수 없음
    * 대/소문자를 구분
    * 변수의 값이 무엇을 나타내는지 쉽게 표기
"
# Name convention
variable.Name <- variableName # . worked 
_ok.dor <- 1 # error
77ok.dor <- 1 # error
casesensitive <-2 
Casesensitive <-3 # Case sensitive
# Defined commands
FALSE
TRUE
else
NULL
false <- 9 # Okay

[Back to the top](#Table_of_Contents)

<h4>Variable_assignment</h4>

In [ ]:
# variable assignment
tot1<-5
tot1

In [ ]:
tot2=10
tot2

In [ ]:
tot2=tot1 + tot2
tot2

In [ ]:
1tot

[Back to the top](#Table_of_Contents)

<h3>Data_type</h3>
Everyting is an object. There are four main data types used in R: numeric, character, factor and logical. The factor will cover in data structure with I&O.

In [ ]:
# You can use the class() function to see what type of data R thinks you have

numeric : (1,2,3)<br>
<li>integer</li>
<li>double</li>
character : ("character")<br>
logical : TRUE(T), FALSE(F) <br>
factor <br>
NULL <br>
NA : missing value

<h4>Numeric_data</h4>

In [ ]:
# Data: numeric (1,2,3)
# Numbers (almost) always default to numeric
num1 <- c(1, 2, 3, 4, 5) # a vector of numbers
num1
class(num1)
mode(num1)
typeof(num1)

[Back to the top](#Table_of_Contents)

<h4>Character_data</h4>

In [ ]:
# Data: character ("English")
# Character
char1 <- c("male", "female") # concatenate, a vector of strings
char1
class(char1) # Check the class of names()
mode(char1)
typeof(char1)

[Back to the top](#Table_of_Contents)

<h4>Logical_data</h4>

In [ ]:
# Logicals
# I'll cover how you generate T/F values in the next section
#  but the TRUE/FALSE input in R are special and are automatically 
#  recognized as logical values.  Importantly, don't use quotes!
b = c(TRUE, FALSE, TRUE, TRUE)
b
class(b)
mode(b)
typeof(b)

[Back to the top](#Table_of_Contents)

<h4>Factor_data</h4>
The reason R has factors relates to the main purpose of R: run statistical analyses. In many models you run with categorical variables, there’s a specific baseline comparison that makes the most sense.

In [ ]:
# Factors
gender = c("m", "f", "m", "f", "m","m", "f")  # here it is a character
gender.factor = as.factor(gender)        
gender.factor
class(gender)
mode(gender)
typeof(gender)
class(gender.factor)
mode(gender.factor)
typeof(gender.factor)

[Back to the top](#Table_of_Contents)

Sometimes after reading in data it will automatically change things into factors that you wish were numbers. Be very careful when you do this! You must first convert to a character and then a numeric, otherwise it will use the level value as the value.

In [ ]:
# Common mistake
# Going from factor to number
num.vec = as.factor(c(1.2, 1.4, 1.6))
num.vec

# Wrong way
as.numeric(num.vec)

# Correct way
as.numeric(as.character(num.vec))

[Back to the top](#Table_of_Contents)

<h4>Factor_and_label</h4>

<center><img src="img/r_All_kinds_of_objects.png" ></center>

In [ ]:
# factor (handle the qualitative (categorical) variable)
gradetxt <- read.table("example/0201.grade.txt",
                       header=FALSE,
                       sep = "\t",
                       stringsAsFactor = FALSE,
                       na.strings = ""
                      )

# without handling factor
print(gradetxt)
plot(x = gradetxt$V2, y = gradetxt$V4) # Error in plot

In [ ]:
# Character type data factor
# with handling factor
gradetxt$V2 <- factor(gradetxt$V2,
                      levels = c("Male", "Female")
                     )
str(gradetxt$V2)
table(gradetxt$V2)
plot(x = gradetxt$V2, y = gradetxt$V4)

In [ ]:
# Numeric variable factor
gradetxt$V3 <- factor(gradetxt$V3,
                      levels = c(1,2)
                     )
str(gradetxt$V3)
table(gradetxt$V3)

In [ ]:
gradetxt$V3 <- factor(gradetxt$V3,
                      levels = c(1,2),
                      labels = c("M","F")
                     )
str(gradetxt$V3)
table(gradetxt$V3)

[Back to the top](#Table_of_Contents)

<h3>Operator</h3>

<li> Arithmetic, Increment and decrement, Assignment operator </li>
<li> Comparison, logical, concatenation operator </li>

<h4>Arithmetic_operator</h4>
Basic math with scalars

<center><img src="img/r_Arithmetic_operator.png" ></center>

In [ ]:
# Arithmetic operator
tot1 <- 5
tot2 <- 10

In [ ]:
# Addition operation
tot1 + tot2

In [ ]:
# Subtraction operation
tot1 - tot2

In [ ]:
# Multiplication operation
tot1 * tot2

In [ ]:
# Division operation
tot1 / tot2

In [ ]:
# Power
tot1 ^ tot2

In [ ]:
3 + 2
3 - 2
3 / 2
3 * 2
3 %% 2 # modulus 3 mod 2
3^2
# You can also use
3**2
sqrt(3)

<h4>Basic_calculator</h4>
Basic calculator

In [ ]:
# Integer division, modulo %/%, %%
# Extremes and mean # max(), min(), range(), mean()
# Square root # sqrt()
# Rounding # round(), ceiling(), floor()
# Trigonometric functions # sin(), cos(), tan(), asin(), acos(), atan()
# Logarithms # log(), log10(), log2(), exp()
# Sum, product # sum(), prod()
# Pie # pi
# Infinity # Inf, -Inf
# Not a Number (Not defined) # NaN
# Not Available (Missing values) # NA
# Empty set # NULL

In [ ]:
10%/%3 # Integer division, 3 # Integer division is floor
10%%3 # Integer modulo, 1

[Back to the top](#Table_of_Contents)

<h4>Logical operators</h4>
The usual logical operators are available as well.

In [ ]:
# Comparisons ==, !=, >, <, >=, <=
# Constants TRUE, (T), FALSE, (F) and NA
# Operators &, &&, |, || (and or), ! (negative), xor() (exclusive or)
# vector wise &
# NOT vector wise &&

In [ ]:
a = c(1, 2, 3)
b = c(2, 2, 1)

a<b
a<=b
a>b
a!=b
a==b
FALSE + TRUE + TRUE # assist as numerical value 2
60/FALSE # Inf
T/F # Inf

You can also combine using and/or.

In [ ]:
c = c(4, 2, 1)

(a==b) & (b==c)

(a==b) | (b==c)

Handily (at least I think so) if you try to do math with a vector of TRUE/FALSE, the data are treated as 1/0 (1=TRUE)

In [ ]:
d = (a==b)
2*d

You can use logical operators to pull out parts of a matrix or change the matrix

In [ ]:
a = matrix(1:9, nrow = 3)
# Values in a that are larger than 3
a[a>3]
# Change values larger than 3 to 0
a[a>3] = 0
a

In [ ]:
# any() # Is any element TRUE?
# all() # Are all elements TRUE?
# is.na() # Check on NAs using is.na()
# na.omit() # Remove NAs

[Back to the top](#Table_of_Contents)

<h2><a id="References"></a>References</h2>

The State of Naming Conventions in R, please refer to the link below: <br>
[The State of Naming Conventions in R](https://journal.r-project.org/archive/2012/RJ-2012-018/RJ-2012-018.pdf) <br>

Introduction of the Principles of programming with R, please refer to the link below: <br>
[Ch01_04.R 설치 및 사용법(프로그래밍 6원칙)04](https://youtu.be/dZpquIDHcOg) <br>
[Ch01_05.R 설치 및 사용법(변수선언)05](https://youtu.be/incriCSAMo4) <br>
[Ch01_06.R 설치 및 사용법(데이터형)06](https://youtu.be/75UNhUB1l5Y) <br>
[Ch01_07.R 설치 및 사용법(산술연산자)07](https://youtu.be/tpNIIqrLv18) <br>
[Assigning data to a variable](https://jeanettemumford.org/R-tutorial/01-getting-started/)

Introduction of the Comment <br>
[[R] 주석 처리 방법](http://triki.net/prgm/3057)

Variables c function, seq function - RDocumentation <br>
[c: Combine Values into a Vector or List](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/c) <br>
[seq: Sequence Generation](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/seq) <br>
[R 프로그래밍 기초 강의 3일만에 끝내기:3장-1 인트로, 변수란?[R 프로그램,R 언어]](https://youtu.be/Vy0Z_dKvwvI) <br>