<h2>Table_of_Contents</h2>

- [R basic grammar](#R_basic_grammar)
    - [Variable](#Variable)
        - [Writing comments](#Writing_comments)
        - [Variable assignment](#Variable_assignment)
        - [Rules for naming variables](#Rules_for_naming_variables)
        - [Variable assignment](#Variable_assignment)
    - [Data type](#Data_type)
        - [Numeric data](#Numeric_data)
        - [Character data](#Character_data)
        - [Logical data](#Logical_data)
    - [Operator](#Operator)
        - [Arithmetic operator](#Arithmetic_operator)
    - [Structural programming](#Structural_programming)
        - [Concatenate](#Concatenate)
        - [Conditional](#Conditional)
        - [Loop](#Loop)
    - [Function](#Function)
- [References](#References)

<h2>R_basic_grammar</h2>

<h3>Variable</h3>
Syntax, Indentation

<h4>Writing_comments</h4>

1. One line comment

In [1]:
# In RStudio, Simply press the shortcut Ctrl + Shift + c to comment.

2. Multiline comment

In [2]:
Comment1 = "
    Create a variable that you don't want to use 
    and put a comment there.
    It doesn't matter if that variable isn't used
    in the actual process.
"

[Back to the top](#Table_of_Contents)

<h4>Variable_assignment</h4>

In [11]:
# there are two ways to assign the variable
variableName <- 0 # assign the value using <-
variableName

[1] 0

In [12]:
variableName = 1 # assign the value using = 
variableName

[1] 1

In [3]:
# c: Combine Values into a Vector or List
var1 <- c(1,2,5,7,8)
print(var1)

var2 <- c(1:5)
print(var2)

[1] 1 2 5 7 8
[1] 1 2 3 4 5

In [4]:
# seq: Sequence Generation
# Create var3 with continuous values from 1 to 5
var3 <- seq(1,5)
print(var3)
# Create var4 with 2 consecutive values from 1 to 10
var4 <- seq(1, 10, by = 2)
print(var4)
# Generate var5 with 3 consecutive values from 1 to 10
var5 <- seq(1, 10, by = 3)
print(var5)

[1] 1 2 3 4 5
[1] 1 3 5 7 9
[1]  1  4  7 10

[Back to the top](#Table_of_Contents)

<h4>Rules_for_naming_variables</h4>

In [4]:
Rules_for_naming_variables = "
    * exclude #
    * 첫 문자를 영문자로 시작해서 영문 대문자(A~Z)와 소문자(a~z),
      숫자(0~9), 밑줄(_)을 사용하여 작성
    * 특수기호(!, @, # ...)는 사용할 수 없음
    * 미리 정해진 예약어(var, if, for ...)는 사용할 수 없음
    * 대/소문자를 구분
    * 변수의 값이 무엇을 나타내는지 쉽게 표기
"

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[Back to the top](#Table_of_Contents)

<h4>Variable_assignment</h4>

In [7]:
# variable assignment
tot1<-5
tot1

[1] 5

In [8]:
tot2=10
tot2

[1] 10

In [9]:
tot2=tot1 + tot2
tot2

[1] 15

In [6]:
1tot

ERROR: Error in parse(text = x, srcfile = src): <text>:1:2: unexpected symbol
1: 1tot
     ^

[Back to the top](#Table_of_Contents)

<h3>Data_type</h3>

numeric : (1,2,3)<br>
<li>integer</li>
<li>double</li>
character : ("character")<br>
logical : TRUE(T), FALSE(F) <br>
NULL <br>
NA : missing value

<h4>Numeric_data</h4>

In [9]:
# Data: numeric (1,2,3)
num1 <- c(1, 2, 3, 4, 5)
num1
mode(num1)
typeof(num1)

[1] 1 2 3 4 5

[1] "numeric"

[1] "double"

[Back to the top](#Table_of_Contents)

<h4>Character_data</h4>

In [11]:
# Data: character ("English")
char1 <- c("male", "female") # concatenate
char1
mode(char1)
typeof(char1)

[1] "male"   "female"

[1] "character"

[1] "character"

[Back to the top](#Table_of_Contents)

<h4>Logical_data</h4>

In [1]:
c(TRUE, FALSE, FALSE, TRUE)

[1]  TRUE FALSE FALSE  TRUE

[Back to the top](#Table_of_Contents)

<h3>Operator</h3>

<li> Arithmetic, Increment and decrement, Assignment operator </li>
<li> Comparison, logical, concatenation operator </li>

<h4>Arithmetic_operator</h4>

<center><img src="img/r_Arithmetic_operator.png" ></center>

In [12]:
# Arithmetic operator
tot1 <- 5
tot2 <- 10

In [13]:
# Addition operation
tot1 + tot2

[1] 15

In [14]:
# Subtraction operation
tot1 - tot2

[1] -5

In [15]:
# Multiplication operation
tot1 * tot2

[1] 50

In [16]:
# Division operation
tot1 / tot2

[1] 0.5

In [17]:
# Power
tot1 ^ tot2

[1] 9765625

[Back to the top](#Table_of_Contents)

<h3>Structural_programming</h3>

<h4>Concatenate</h4>

<h4>Conditional</h4>

<li> if </li>
<li> switch </li>

<h4>Loop</h4>

<li> for </li>
<li> while </li>

[Back to the top](#Table_of_Contents)

<h3>Function</h3>

function

[Back to the top](#Table_of_Contents)

<h2><a id="References"></a>References</h2>

The State of Naming Conventions in R, please refer to the link below: <br>
[The State of Naming Conventions in R](https://journal.r-project.org/archive/2012/RJ-2012-018/RJ-2012-018.pdf) <br>

Introduction of the Principles of programming with R, please refer to the link below: <br>
[Ch01_04.R 설치 및 사용법(프로그래밍 6원칙)04](https://youtu.be/dZpquIDHcOg) <br>
[Ch01_05.R 설치 및 사용법(변수선언)05](https://youtu.be/incriCSAMo4) <br>
[Ch01_06.R 설치 및 사용법(데이터형)06](https://youtu.be/75UNhUB1l5Y) <br>
[Ch01_07.R 설치 및 사용법(산술연산자)07](https://youtu.be/tpNIIqrLv18) <br>

Introduction of the Comment <br>
[[R] 주석 처리 방법](http://triki.net/prgm/3057)

Variables c function, seq function - RDocumentation <br>
[c: Combine Values into a Vector or List](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/c) <br>
[seq: Sequence Generation](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/seq) <br>
[R 프로그래밍 기초 강의 3일만에 끝내기:3장-1 인트로, 변수란?[R 프로그램,R 언어]](https://youtu.be/Vy0Z_dKvwvI) <br>