<h2>Table_of_Contents</h2>

- [R basic grammar](#R_basic_grammar)
    - [Variable](#Variable)
        - [Writing comments](#Writing_comments)
        - [Variable assignment](#Variable_assignment)
        - [Rules for naming variables](#Rules_for_naming_variables)
        - [Variable assignment](#Variable_assignment)
    - [Data type](#Data_type)
        - [Numeric data](#Numeric_data)
        - [Character data](#Character_data)
        - [Logical data](#Logical_data)
        - [Factor data](#Factor_data)
    - [Operator](#Operator)
        - [Arithmetic operator](#Arithmetic_operator)
    - [Structural programming](#Structural_programming)
        - [Concatenate](#Concatenate)
        - [Conditional](#Conditional)
        - [Loop](#Loop)
    - [Function](#Function)
- [References](#References)

<h2>R_basic_grammar</h2>

<h3>Variable</h3>
Syntax, Indentation

<h4>Writing_comments</h4>

1. One line comment

In [1]:
# In RStudio, Simply press the shortcut Ctrl + Shift + c to comment.
# <-  The comment in R is the hash symbol

2. Multiline comment

In [2]:
Comment1 = "
    Create a variable that you don't want to use 
    and put a comment there.
    It doesn't matter if that variable isn't used
    in the actual process.
"

[Back to the top](#Table_of_Contents)

<h4>Variable_assignment</h4>

In [11]:
# there are two ways to assign the variable
variableName <- 0 # assign the value using <-
variableName

[1] 0

In [12]:
variableName = 1 # assign the value using = 
variableName

[1] 1

In [1]:
assign("a", 5)
a

[1] 5

In [3]:
# c: Combine Values into a Vector or List
var1 <- c(1,2,5,7,8)
print(var1)

var2 <- c(1:5)
print(var2)

[1] 1 2 5 7 8
[1] 1 2 3 4 5

In [4]:
# seq: Sequence Generation
# Create var3 with continuous values from 1 to 5
var3 <- seq(1,5)
print(var3)
# Create var4 with 2 consecutive values from 1 to 10
var4 <- seq(1, 10, by = 2)
print(var4)
# Generate var5 with 3 consecutive values from 1 to 10
var5 <- seq(1, 10, by = 3)
print(var5)

[1] 1 2 3 4 5
[1] 1 3 5 7 9
[1]  1  4  7 10

In [2]:
# Creating sequences
# I’ve been using, for example, code like c(1:9) to create sequences, but there are other options.
# sequence from 1 to 9
seq(1, 9)
# sequence from 1 to 9 in increments of 2
seq(1, 9, 2)
# sequence that count from 1 to 9 in increments such that the vector has a length of 11
seq(1, 9, length.out = 11)

[1] 1 2 3 4 5 6 7 8 9

[1] 1 3 5 7 9

 [1] 1.0 1.8 2.6 3.4 4.2 5.0 5.8 6.6 7.4 8.2 9.0

[Back to the top](#Table_of_Contents)

<h4>Rules_for_naming_variables</h4>

In [4]:
Rules_for_naming_variables = "
    * exclude #
    * 첫 문자를 영문자로 시작해서 영문 대문자(A~Z)와 소문자(a~z),
      숫자(0~9), 밑줄(_)을 사용하여 작성
    * 특수기호(!, @, # ...)는 사용할 수 없음
    * 미리 정해진 예약어(var, if, for ...)는 사용할 수 없음
    * 대/소문자를 구분
    * 변수의 값이 무엇을 나타내는지 쉽게 표기
"

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[Back to the top](#Table_of_Contents)

<h4>Variable_assignment</h4>

In [7]:
# variable assignment
tot1<-5
tot1

[1] 5

In [8]:
tot2=10
tot2

[1] 10

In [9]:
tot2=tot1 + tot2
tot2

[1] 15

In [6]:
1tot

ERROR: Error in parse(text = x, srcfile = src): <text>:1:2: unexpected symbol
1: 1tot
     ^

[Back to the top](#Table_of_Contents)

<h3>Data_type</h3>
There are four main data types used in R: numeric, character, factor and logical. The factor will cover in data structure with I&O.

In [3]:
# You can use the class() function to see what type of data R thinks you have

numeric : (1,2,3)<br>
<li>integer</li>
<li>double</li>
character : ("character")<br>
logical : TRUE(T), FALSE(F) <br>
factor <br>
NULL <br>
NA : missing value

<h4>Numeric_data</h4>

In [5]:
# Data: numeric (1,2,3)
# Numbers (almost) always default to numeric
num1 <- c(1, 2, 3, 4, 5) # a vector of numbers
num1
class(num1)
mode(num1)
typeof(num1)

[1] 1 2 3 4 5

[1] "numeric"

[1] "numeric"

[1] "double"

[Back to the top](#Table_of_Contents)

<h4>Character_data</h4>

In [6]:
# Data: character ("English")
# Character
char1 <- c("male", "female") # concatenate, a vector of strings
char1
class(char1) # Check the class of names()
mode(char1)
typeof(char1)

[1] "male"   "female"

[1] "character"

[1] "character"

[1] "character"

[Back to the top](#Table_of_Contents)

<h4>Logical_data</h4>

In [10]:
# Logicals
# I'll cover how you generate T/F values in the next section
#  but the TRUE/FALSE input in R are special and are automatically 
#  recognized as logical values.  Importantly, don't use quotes!
b = c(TRUE, FALSE, TRUE, TRUE)
b
class(b)
mode(b)
typeof(b)

[1]  TRUE FALSE  TRUE  TRUE

[1] "logical"

[1] "logical"

[1] "logical"

[Back to the top](#Table_of_Contents)

<h4>Factor_data</h4>
The reason R has factors relates to the main purpose of R: run statistical analyses. In many models you run with categorical variables, there’s a specific baseline comparison that makes the most sense.

In [7]:
# Factors
gender = c("m", "f", "m", "f", "m","m", "f")  # here it is a character
gender.factor = as.factor(gender)        
gender.factor
class(gender)
mode(gender)
typeof(gender)
class(gender.factor)
mode(gender.factor)
typeof(gender.factor)

[1] m f m f m m f
Levels: f m

[1] "character"

[1] "character"

[1] "character"

[1] "factor"

[1] "numeric"

[1] "integer"

[Back to the top](#Table_of_Contents)

Sometimes after reading in data it will automatically change things into factors that you wish were numbers. Be very careful when you do this! You must first convert to a character and then a numeric, otherwise it will use the level value as the value.

In [11]:
# Common mistake
# Going from factor to number
num.vec = as.factor(c(1.2, 1.4, 1.6))
num.vec

# Wrong way
as.numeric(num.vec)

# Correct way
as.numeric(as.character(num.vec))

[1] 1.2 1.4 1.6
Levels: 1.2 1.4 1.6

[1] 1 2 3

[1] 1.2 1.4 1.6

[Back to the top](#Table_of_Contents)

<h3>Operator</h3>

<li> Arithmetic, Increment and decrement, Assignment operator </li>
<li> Comparison, logical, concatenation operator </li>

<h4>Arithmetic_operator</h4>
Basic math with scalars

<center><img src="img/r_Arithmetic_operator.png" ></center>

In [12]:
# Arithmetic operator
tot1 <- 5
tot2 <- 10

In [13]:
# Addition operation
tot1 + tot2

[1] 15

In [14]:
# Subtraction operation
tot1 - tot2

[1] -5

In [15]:
# Multiplication operation
tot1 * tot2

[1] 50

In [16]:
# Division operation
tot1 / tot2

[1] 0.5

In [17]:
# Power
tot1 ^ tot2

[1] 9765625

In [1]:
3 + 2
3 - 2
3 / 2
3 * 2
3 %% 2 # modulus 3 mod 2
3^2
# You can also use
3**2
sqrt(3)

[1] 5

[1] 1

[1] 1.5

[1] 6

[1] 1

[1] 9

[1] 9

[1] 1.732051

[Back to the top](#Table_of_Contents)

<h4>Logical operators</h4>
The usual logical operators are available as well.

In [3]:
a = c(1, 2, 3)
b = c(2, 2, 1)

a<b
a<=b
a>b
a!=b
a==b

[1]  TRUE FALSE FALSE

[1]  TRUE  TRUE FALSE

[1] FALSE FALSE  TRUE

[1]  TRUE FALSE  TRUE

[1] FALSE  TRUE FALSE

You can also combine using and/or.

In [4]:
c = c(4, 2, 1)

(a==b) & (b==c)

(a==b) | (b==c)

[1] FALSE  TRUE FALSE

[1] FALSE  TRUE  TRUE

Handily (at least I think so) if you try to do math with a vector of TRUE/FALSE, the data are treated as 1/0 (1=TRUE)

In [5]:
d = (a==b)
2*d

[1] 0 2 0

You can use logical operators to pull out parts of a matrix or change the matrix

In [6]:
a = matrix(1:9, nrow = 3)
# Values in a that are larger than 3
a[a>3]
# Change values larger than 3 to 0
a[a>3] = 0
a

[1] 4 5 6 7 8 9

     [,1] [,2] [,3]
[1,] 1    0    0
[2,] 2    0    0
[3,] 3    0    0

[Back to the top](#Table_of_Contents)

<h3>Structural_programming</h3>

<h4>Concatenate</h4>

[Back to the top](#Table_of_Contents)

<h4>Loop</h4>

* For loops<br>

Looping in R has similar structure to other programs. Basically, you can loop through anything: numbers, characters, factors, etc.

In [7]:
a = c("one", "two", "three")
for (i in a){
  print(i)
}

a = c(1:3)
for (i in a){
  print(i)
}

# Equivalently
for (i in 1:3){
  print(i)
}

[1] "one"
[1] "two"
[1] "three"
[1] 1
[1] 2
[1] 3
[1] 1
[1] 2
[1] 3

If you’re building a vector with a for loop, it is better to create an empty vector first and fill it. The following illustrates the two styles and introduces the proc.time() function, which can be used to time procedures in R.

In [8]:
start = proc.time()
# Initialize with a vector of 0s
vec = rep(0, 10000)
for (i in 1:10000){
  vec[i] = i
}
proc.time() - start


start = proc.time()
# Initialize with an empty vector 
vec = c()
for (i in 1:10000){
  #concatenate on each iteration
  vec = c(vec, i)
}
proc.time() - start

   user  system elapsed
      0       0       0

   user  system elapsed
   0.14    0.00    0.14

* While loops

While loops are used when you don’t know how long something will take. For example, if I’m randomly generating trial orderings, but I have 3-4 criteria that must be met for that trial order to work in my experiment I use a while loop. For example, no more than 3 trials of the same type in a row, etc.

In [9]:
# Start simple
stop = 10

while (stop > 1){
  print(stop)
  stop = stop -1
}

[1] 10
[1] 9
[1] 8
[1] 7
[1] 6
[1] 5
[1] 4
[1] 3
[1] 2

Historically R has been very, very slow at looping and it is often advised to avoid loops when you can. Matrix math tricks can often help, if you’re comfortable with that, but there are also functions that can help cut down on looping. The apply() function is a good example. It allows you to apply an operation along one of the dimensions of an array.

In [10]:
# I'll get row averages
a = matrix(c(1:9), nrow = 3)
apply(a, 1, mean)
# Column averages
apply(a, 2, mean)

# Standard deviation within each row
apply(a, 1, sd)

# Works on arrays also.  
b = array(c(1:12), c(2, 3, 2))
# If I want the sum across the first dimension
# then the result is in the 2:3 dimensions
apply(b, c(2:3), sum)

# If I want the sum within each of the 3rd dimensions
apply(b, 3, sum)

[1] 4 5 6

[1] 2 5 8

[1] 3 3 3

     [,1] [,2]
[1,]  3   15
[2,]  7   19
[3,] 11   23

[1] 21 57

[Back to the top](#Table_of_Contents)

<h4>Conditional</h4>

* if <br>
If/else two ways <br>
The If/else statement is frequently used in programming and there are a couple of ways to do it in R. The classical style is in the following example.

In [11]:
x = -5
if(x > 0){
   print("Non-negative number")
} else {
   print("Negative number")
}

[1] "Negative number"

A shortcut for simple if/else statement is the ifelse function

In [12]:
ifelse(x>0, "Non-negative number", "Negative number")

[1] "Negative number"

The if/else statement can have nesting as well

In [13]:
if (x < 0) {
   print("Negative number")
} else if (x > 0) {
   print("Positive number")
} else {
   print("Zero")
}

[1] "Negative number"

[Back to the top](#Table_of_Contents)

* switch

[Back to the top](#Table_of_Contents)

<h3>Function</h3>

Functions are also useful if you’re looking to do something using the apply() function that doesn’t have a function to apply already. For example, if I want to run a regression over 10,000 voxels and save the p-value, I can create a function that spits out p-values and then use that with apply to run all of my 10,000 models at once! It is a bit faster than looping. First, let’s look at a simple example. Note that lists are often used to pass information out of the function using the return() function.

In [14]:
# Simple function that determines if a number is odd

isodd = function(input){
  output = input%%2  # modulo operation from earlier
  result = output == 1
  return(result)
}
isodd(5)
isodd(6)

[1] TRUE

[1] FALSE

Here’s an example with two input and two values output

In [15]:
sumprod = function(val1, val2){
  sumvals = val1 + val2
  prodvals = val1*val2
  result = list()
  result$sumvals = sumvals
  result$prodvals = prodvals
  return(result)
}
sumprod(1, 5)
sumprod(4, 10)

$sumvals
[1] 6

$prodvals
[1] 5

$sumvals
[1] 14

$prodvals
[1] 40

One thing to be very careful about with functions is that although they are set up to take in variables to do something locally and then pass this back out to the global environment, it can (unfortunately) also use global variables. In other words, if you already defined x in your R session and you refer to x within your function, the function will work if you forget to feed it in.

In [16]:
x = 5
junkFunction = function(a, b){
  ax = a*x
  bx = b*x
  result = list()
  result$ax = ax
  result$bx = bx
  return(result)
}
# Even though x isn't fed in, the function grabs it from the global environment.  BE CAREFUL!!
junkFunction(3, 4)

$ax
[1] 15

$bx
[1] 20

[Back to the top](#Table_of_Contents)

<h2><a id="References"></a>References</h2>

The State of Naming Conventions in R, please refer to the link below: <br>
[The State of Naming Conventions in R](https://journal.r-project.org/archive/2012/RJ-2012-018/RJ-2012-018.pdf) <br>

Introduction of the Principles of programming with R, please refer to the link below: <br>
[Ch01_04.R 설치 및 사용법(프로그래밍 6원칙)04](https://youtu.be/dZpquIDHcOg) <br>
[Ch01_05.R 설치 및 사용법(변수선언)05](https://youtu.be/incriCSAMo4) <br>
[Ch01_06.R 설치 및 사용법(데이터형)06](https://youtu.be/75UNhUB1l5Y) <br>
[Ch01_07.R 설치 및 사용법(산술연산자)07](https://youtu.be/tpNIIqrLv18) <br>
[Assigning data to a variable](https://jeanettemumford.org/R-tutorial/01-getting-started/)

Introduction of the Comment <br>
[[R] 주석 처리 방법](http://triki.net/prgm/3057)

Variables c function, seq function - RDocumentation <br>
[c: Combine Values into a Vector or List](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/c) <br>
[seq: Sequence Generation](https://www.rdocumentation.org/packages/base/versions/3.6.2/topics/seq) <br>
[R 프로그래밍 기초 강의 3일만에 끝내기:3장-1 인트로, 변수란?[R 프로그램,R 언어]](https://youtu.be/Vy0Z_dKvwvI) <br>

Structural programming <br>
[Loops](https://jeanettemumford.org/R-tutorial/04-loops/)<br>
[Decision making](https://jeanettemumford.org/R-tutorial/06-decision-making/)

Function <br>
[Writing functions](https://jeanettemumford.org/R-tutorial/07-functions/)